body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0de; /* optional background color */

    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"],
  button {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  button {
    background-color: #3897f0;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #357ae8;
  }
  
  p {
    font-size: 14px;
    color: #999;
  }
  
  a {
    color: #3897f0;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  .heading{
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    color: black;
    text-align: center;  
    margin-bottom: 10px;  
}
  